@media only screen and (min-width : 1224px)  {
    .text-container {
        margin:0;
        padding:0;
        display:flex;
        position: absolute;
        top: 30%;
        left:20%;
        color: rgb(203, 203, 203);
        font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    }

    .text-container div {
        margin-top: 1%;
    }

    .p-container {
        position: absolute;
        margin:0;
        top: 100%;
        left:0%;
        width: 170%;
    }

    .title {
        font-size: 70px;
        margin-bottom: 0%;
        margin-top: 0%;
    }
}

@media (max-width: 480px) and (orientation: portrait) {
    .text-container {
        margin-top: 20%;
        margin-left: 5%;
        padding:0;
        color: rgb(203, 203, 203);
        font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    }

    .text-container div {
        margin-top: 0%;
        line-height: 200%;
        font-size: 20px;
    }

    .p-container {
        margin:0;
        top: 100%;
        left:0%;
        width: 100%;
    }

    .title {
        font-size: 50px;
        margin-bottom: 0%;
        margin-top: 0%;
    }
}

@media (max-width: 1000px) and (orientation: landscape) {
.text-container {
    margin-top: 2%;
    margin-left: 5%;
    padding:0;
    color: rgb(203, 203, 203);
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}

.text-container div {
    margin-top: 1%;
}

.p-container {
    margin:0;
    top: 100%;
    left:0%;
    width: 60%;
}

.title {
    font-size: 50px;
    margin-bottom: 0%;
    margin-top: 0%;
}
}