@media only screen and (orientation: landscape) {
    .project-container {
        margin:0;
        padding:0;
        position: absolute;
        top: 25%;
        left: 20%;
        color: rgb(203, 203, 203);
        font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    }

    .project-iamge {
        margin-top: 0px;
        width: 500px;
    }

    .project-title {
        position: fixed;
        bottom: 25%;
        left: 20%;
        margin-top: 5%;
        font-size: 300%;
    }

    .project-description {
        position: fixed;
        bottom: 20%;
        left: 20%;
        margin-top: 5%;
        font-size: 120%;
    }
}

@media (max-width: 480px) and (orientation: portrait){
    .project-container {
        margin:0;
        padding:0;
        position: absolute;
        top: 25%;
        left: 10%;
        color: rgb(203, 203, 203);
        font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    }

    .project-iamge {
        margin-top: 0px;
        width: 300px;
    }

    .project-title {
        position: absolute;
        top: 120%;
        left: 0%;
        width: 100%;
        margin-top: 5%;
        font-size: 300%;
    }

    .project-description {
        position: absolute;
        top: 160%;
        left: 0%;
        margin-top: 5%;
        font-size: 120%;
    }
}

@media (max-width: 1000px) and (orientation: landscape) {
.project-container {
    margin:0;
    padding:0;
    display:flex;
    position: absolute;
    top: 6rem;
    left: 5%;
    color: rgb(203, 203, 203);
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}

.project-iamge {
    margin-top: 30px;
    width: 15rem;
}

.project-title {
    display:flex;
    position: absolute;
    top: 10%;
    left: 110%;
    width: 70%;
    margin-top: 5%;
    font-size: 2rem;
}

.project-description {
    position: absolute;
    top: 7rem;
    left: 16.5rem;
    margin-top: 5%;
    font-size: 1rem;
    width: 7rem;
}
}